USE [master]
GO
/****** Object:  Database [Peliculas]    Script Date: 27/4/2023 10:39:39 ******/
CREATE DATABASE [Peliculas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Peliculas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Peliculas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Peliculas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Peliculas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Peliculas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Peliculas]
GO
/****** Object:  User [alumno]    Script Date: 27/4/2023 10:39:39 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[peliculapersonaje]    Script Date: 27/4/2023 10:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculapersonaje](
	[idpelicula] [int] NOT NULL,
	[idpersonaje] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeliculasYseries]    Script Date: 27/4/2023 10:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculasYseries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](500) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[fechaDeCreacion] [date] NOT NULL,
	[calificacion] [int] NOT NULL,
 CONSTRAINT [PK_PeliculasYseries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personajes]    Script Date: 27/4/2023 10:39:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Imagen] [varchar](500) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[peso] [float] NOT NULL,
	[historia] [varchar](500) NOT NULL,
	[IdPelicula] [int] NOT NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PeliculasYseries] ON 

INSERT [dbo].[PeliculasYseries] ([Id], [imagen], [titulo], [fechaDeCreacion], [calificacion]) VALUES (1, N'https://elcomercio.pe/resizer/nGroy5ii3TgR3RUkqM4sYyUavsg=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DNIEQ55XR5GXJE3SI5HCCMOIKA.jpg', N'Tilin rompe el silencio', CAST(N'2021-12-03' AS Date), 10)
INSERT [dbo].[PeliculasYseries] ([Id], [imagen], [titulo], [fechaDeCreacion], [calificacion]) VALUES (5, N'https://image.winudf.com/v2/image1/ZWwucGVwZS5tYW1hLm1lbWUuZ3VlLmJhc29fc2NyZWVuX2VzLUVTXzFfMTYxMDk0NTgyMV8wNjI/screen-1.jpg?fakeurl=1&type=.jpg', N'El Pepe y el boton verde', CAST(N'2020-03-03' AS Date), 7)
SET IDENTITY_INSERT [dbo].[PeliculasYseries] OFF
GO
SET IDENTITY_INSERT [dbo].[Personajes] ON 

SET IDENTITY_INSERT [dbo].[Personajes] OFF
GO
ALTER TABLE [dbo].[peliculapersonaje]  WITH CHECK ADD  CONSTRAINT [FK_peliculapersonaje_PeliculasYseries] FOREIGN KEY([idpelicula])
REFERENCES [dbo].[PeliculasYseries] ([Id])
GO
ALTER TABLE [dbo].[peliculapersonaje] CHECK CONSTRAINT [FK_peliculapersonaje_PeliculasYseries]
GO
ALTER TABLE [dbo].[peliculapersonaje]  WITH CHECK ADD  CONSTRAINT [FK_peliculapersonaje_Personajes] FOREIGN KEY([idpersonaje])
REFERENCES [dbo].[Personajes] ([ID])
GO
ALTER TABLE [dbo].[peliculapersonaje] CHECK CONSTRAINT [FK_peliculapersonaje_Personajes]
GO
USE [master]
GO
